@import url('https://fonts.googleapis.com/css2?family=Mercury&display=swap');

.filter-sidebar {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 30vw;
  height: 100%;
  background-color: #080e50;
  color: white;
  padding: 20px;
  transition: right 0.3s;
  z-index: 1000;
}

.filter-sidebar.open {
  right: 0;
}

.filter-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px;
}

.close-icon {
  cursor: pointer;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
 font-family: 'Mercury', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;

    letter-spacing: 0;
    margin: 10px;
}

.filter-content {
  padding: 10px 0;

}
.filter-content  label{
    font-size: 14px;
  
  }
  .filter-content li{
    font-size: 16px;
  }
  .icon-container {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust the spacing as needed */
  }
  
  .icon-text {
    margin-left: 5px; /* Adjust the spacing between the icon and text as needed */
    font-size: 0.8em; /* Adjust the font size as needed */
    color: white;     /* Adjust the color as needed */
  }
.filter-popup6 {
  
    color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 400px;
    height: 400px;

  }
  .check2{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    height: 240px;
    overflow-y: scroll;
  }
 
 
.filter-content label {
  display: block;
  margin: 5px 0;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
}

.clear-btn, .apply-btn {
  background-color: white;
  color: #080e50;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.clear-btn {
  background-color: transparent;
}

.clear-btn:hover, .apply-btn:hover {
  opacity: 0.8;
}
@media(max-width:767px){
  .filter-sidebar {
    position: fixed;

    right: -100vw;
    width: 100vw;
    height: 100%;
    background-color: #080e50;
    color: white;
    padding: 20px;
    transition: right 0.3s;
    z-index: 1000;
   
  }
  .filter-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

  
}
.filter-section {
  margin-bottom: 20px;

}

}

@media (min-width:768px) and (max-width:1200px){
  .filter-sidebar {
    width: 100vw;
  }
}


.filter-section1 {
  width: 300px;
  margin: 0 auto;
}



.icon-container {
  display: flex;
  align-items: center;
}

.icon-text {
  margin-right: 5px;
}

.filter-content1 {
 
  padding: 20px;
  border-radius: 5px;

  margin-top: 10px;
}

.currency-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.currency-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
 
  cursor: pointer;
  color: white;
  position: relative;
}


.currency-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;

  
  width: 40%; /* Adjust the width of the border here */
  height: 2px;
  background-color: white
}

.apply-button {
  display: block;
  width: 40%;
  padding: 10px;
  float: right;
  background-color: #f59e0b;
  color: white;
  border: none;
 
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.apply-button:hover {
  background-color: #d97706;
}




.buttons {
  display: flex;
  /* gap: 8px; */
  color: white;
}

.buttonss {
  padding: 8px 16px;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.buttonss input {
  display: none;
}

.buttonss.active {
  background-color: white;
  color: black;
}

.buttonss:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.2);
}



/* for language selector */
/* .language-section {
  padding: 0px;
 
  color: white;
} */

.filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.language-options {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 16px;
  padding: 20px;
}

.language-option {
  position: relative;
  padding: 10px 16px;
  text-align: left;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.language-option.selected::after {
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0;
  transform: translateX(-50%);
  width: 70px; /* Adjust the width here */
  border-bottom: 2px solid white; /* Adjust the thickness and color here */
}




.icon-container {
  display: flex;
  align-items: center;
}

.icon-text {
  margin-right: 8px;
}

@media(min-width:1500px) {
  .language-option.selected::after {
    content: '';
    position: absolute;
    left: 28%; 
    bottom: 0;
    transform: translateX(-50%);
    width: 40%; /* Adjust the width here */
    border-bottom: 2px solid white; /* Adjust the thickness and color here */
  }
}